$default-text-size: 2em
$default-form-margin: .3em
$default-button-text-size: .7em

body
  font-family: monospace
.content
  .form-adjust
    display: flex
    justify-content: center
    font-size: $default-text-size
    form
      display: flex
      flex-direction: column
      min-width: 10em
      label
        margin-top: $default-form-margin
      button
        font-size: $default-button-text-size
        margin-top: $default-form-margin