extends home

block title
    title Card File

block links


block content
    .content
        if ( users !== undefined)
            each user in users
                - const iterableUser= {"Name" : user.login, "E-mail" : user.email, "Specialism" : user.specialism, "Sex": user.sex}
                .user-block
                    .profile-photo
                        img(src='../uploads/' + user.image)
                    .profile-info
                        each line, name in iterableUser
                            p.info-line
                                b #{name}:
                                | &nbsp; #{line}