extends home
block title
    title reg
block links
    link(rel='stylesheet' type='text/css' href='../sass/reg-style.css')
block content
    .content
        .error-messages
            if(messages)
                each message in messages
                    .message
                        | #{message}
        .form-adjust
            form(method='POST' action='/reg' enctype="multipart/form-data")
                label Логин
                input(type="text" id="login" name="login")
                label Почта
                input(type="text" name="email")
                label Пароль
                input(type="password" name="password")
                label Специализация
                input(type="text" name="specialism")
                label Пол
                select(name="sex")
                    option(value="male") Мужрской
                    option(value="female") Женский
                label Фото
                input(type="file" name="image")
                button(type="submit" value="Sign up") Sign Up